@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body {
	font-family: 'Poppins';
	box-sizing: border-box;
	margin: 0;
	/* width: 1444px; */

	padding: 0;
	background: #232150;
}
html {
	font-size: 62.5%;
}

@media (max-width: 1200px) {
	html {
		font-size: 55%;
	}
}
@media (max-width: 998px) {
	html {
		font-size: 45%;
	}
}
@media (max-width: 768px) {
	html {
		font-size: 40%;
	}
}
@media (max-width: 468px) {
	html {
		font-size: 35%;
	}
}
